<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Services</h2>
            <p style="color: wheat;">Basic services usually include a visual inspection and oil and filter change, the
                critical fluids in the
                engine such as anti-freeze, brake fluid, washer fluid, and steering fluid), are topped up. Also, to
                ensure the car is in the best condition possible, a check of up to 35 key components is carried out.</p>
        </div>

        <div class="row">
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
                    <h4><a href="javascript:void(0)" >Regular Car Maintenance</a></h4>
                    <p style="color: white;">Every month, or every few petrol fill-ups and especially before any long road trips, it's a good
                        idea to get under the hood of your car and inspect both the oil and coolant levels while the
                        engine is cool. Low levels of either can lead to engine problems if left unchecked.</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100"
                *ngFor="let service of allservice">
                <div class="icon-box">
                    <!-- <div class="icon"><i class="fa-duotone fa-wrench"></i></div> -->
                    <h4><a href="javascrip:void(0)">{{service.service_name}}</a>
                    </h4>
                    <p style="color: white;">{{service.service_description}}</p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Services Section -->

<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

        <div class="row">
            <div class="col-lg-9 text-center text-lg-start">
                <h3>Call To Action</h3>
                <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                    est
                    laborum.</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="javascript:void(0)">Call To Action</a>
            </div>
        </div>

    </div>
</section><!-- End Cta Section -->
<!-- ======= Portfolio Section ======= -->
<section id="regularcheckup" class="portfolio" style="background-color: black;">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Regular Car Maintenance</h2>
            <p style="color: wheat;">Every month, or every few petrol fill-ups and especially before any long road trips, it's a good idea to
                get under the hood of your car and inspect both the oil and coolant levels while the engine is cool. Low
                levels of either can lead to engine problems if left unchecked.</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-exterior">Exterior</li>
            <li data-filter=".filter-interior">Interior</li>
            <li data-filter=".filter-engine">Engine&others</li>
        </ul>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item filter-exterior">
                <div class="portfolio-img"><img src="assets/img/portfolio/carwash.jpg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Car Wash</h4>
                    <p>complete wash of the body</p>
                    <a href="assets/img/portfolio/carwash.jpg" data-gallery="portfolioGallery"
                        class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i
                            class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-engine">
                <div class="portfolio-img"><img src="assets/img/portfolio/oiling.jpg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Oiling And Maintenance</h4>
                    <p>Complete oiling and maintenance of parts</p>
                    <a href="assets/img/portfolio/oiling.jpg" data-gallery="portfolioGallery"
                        class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i
                            class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-exterior">
                <div class="portfolio-img"><img src="assets/img/portfolio/carpaint.jpg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Car paint</h4>
                    <p>Give your car a fresh look!</p>
                    <a href="assets/img/portfolio/carpaint.jpg" data-gallery="portfolioGallery"
                        class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i
                            class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-interior">
                <div class="portfolio-img"><img src="assets/img/portfolio/carclean.jpg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Car Interior Clean</h4>
                    <p>Hybrid cleaning of interior</p>
                    <a href="assets/img/portfolio/carclean.jpg" data-gallery="portfolioGallery"
                        class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i
                            class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-engine">
                <div class="portfolio-img"><img src="assets/img/portfolio/chassis.jpg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Chassis</h4>
                    <p>If your car needs a chassis check-up</p>
                    <a href="assets/img/portfolio/chassis.jpg" data-gallery="portfolioGallery"
                        class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i
                            class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-exterior">
                <div class="portfolio-img"><img src="assets/img/portfolio/dent.jpg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Paintless dent repair</h4>
                    <p>Touch up to the dents</p>
                    <a href="assets/img/portfolio/dent.jpg" data-gallery="portfolioGallery"
                        class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i
                            class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-interior">
                <div class="portfolio-img"><img src="assets/img/portfolio/customint.jpg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Interior Customization</h4>
                    <p>Custom your interior with luxery</p>
                    <a href="assets/img/portfolio/customint.jpg" data-gallery="portfolioGallery"
                        class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i
                            class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-interior">
                <div class="portfolio-img"><img src="assets/img/portfolio/accessories.jpg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Install usefull Accessories</h4>
                    <p>Install accessories that fullfill your purpose</p>
                    <a href="assets/img/portfolio/accessories.jpg" data-gallery="portfolioGallery"
                        class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i
                            class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-engine">
                <div class="portfolio-img"><img src="assets/img/portfolio/engine.jpg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Engine & Exhaust</h4>
                    <p>Complete diagnosis and upgradation</p>
                    <a href="assets/img/portfolio/engine.jpg" data-gallery="portfolioGallery"
                        class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i
                            class="bx bx-link"></i></a>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Section -->