<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Services</h2>
            <p style="color: wheat;">Basic services usually include a visual inspection and oil and filter change, the
                critical fluids in the
                engine such as anti-freeze, brake fluid, washer fluid, and steering fluid), are topped up. Also, to
                ensure the car is in the best condition possible, a check of up to 35 key components is carried out.</p>
        </div>

        <div class="row">
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
                    <h4><a href="javascript:void(0)" routerLink="/regularchechkup" >Regular Car Maintenance</a></h4>
                    <p style="color: white;">Every month, or every few petrol fill-ups and especially before any long road trips, it's a good
                        idea to get under the hood of your car and inspect both the oil and coolant levels while the
                        engine is cool. Low levels of either can lead to engine problems if left unchecked.</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100"
                *ngFor="let service of allservice">
                <div class="icon-box">
                    <!-- <div class="icon"><i class="fa-duotone fa-wrench"></i></div> -->
                    <h4><a href="javascrip:void(0)">{{service.service_name}}</a>
                    </h4>
                    <p style="color: white;">{{service.service_description}}</p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Services Section -->

<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

        <div class="row">
            <div class="col-lg-9 text-center text-lg-start">
                <h3>Call To Action</h3>
                <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                    est
                    laborum.</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="javascript:void(0)">Call To Action</a>
            </div>
        </div>

    </div>
</section><!-- End Cta Section -->
